html {
	overflow-y: scroll;
}

body {
	color:#414141;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin:0;
	padding:0;
}

a {
	color:#009999;
	text-decoration:none;
}

a img {
	border:0;
}

h1, h2 {
	font-family:Georgia;
}

h1 {
	color:#303030;
	font-size:2em;
	font-style:italic;
	padding:0 0 14px 0;
}

h2 {
	color:#414141;
	font-size:1.2em;
	font-style:italic;
}

h2 a {
	color:#414141;
}

hr {
	background-color:#303030;
	height:2px;
	border: 0;
	margin:0;
	padding:0;
}

p {
	line-height:1.5em;
	margin:0 0 10px 0;
}

ul {
	list-style-type:circle;
	margin-left: 30px;
}

/* Header start */

div#header {
	margin:0 auto;
	padding:20px 0 20px 0;
	width:1000px;
}

.searchfield {
	background-image:url("gfx/sokefelt.png");
	background-repeat:no-repeat;
	/*display:block;*/
	display:none;
	float:right;
	height:21px;
	margin-top:10px;
	width:193px;
}

.searchfield input[type="text"] {
	background-color:transparent;
	border:0;
	font-size:0.8em;
	padding:0 0 2px 8px;
	width:125px;
}

.searchfield input[type="submit"] {
	background-color:transparent;
	border:0;
	width:53px;
}

/* Header end */

/* Mainmenu start */

div#mainmenu {
	background-color:#6f7272;
	width:100%;
}

div#mainmenu ul {
	margin:0 auto;
	padding:0;
	width:1000px;
	list-style: none;
	overflow: hidden;
}

div#mainmenu li {
	display: block;
	float: left;
	margin:0 40px 0 0;
}

div#mainmenu a {
	display: block;
	color:#eee;
	font-size: 1.4em;
	line-height: 1em;
	padding: 10px 0 9px 0;
	border-bottom:2px solid transparent;
}

div#mainmenu a:hover,
div#mainmenu .active a {
	border-bottom-color: #00ffff;
}

div#mainmenu a {

}

div#mainmenu .home a         { width:  51px; background-position: 0px   0px; }
div#mainmenu .registration a { width: 107px; background-position: 0px  -60px; }
div#mainmenu .program a      { width:  73px; background-position: 0px -120px; }
div#mainmenu .partners a     { width:  74px; background-position: 0px -180px; }
div#mainmenu .contact a      { width:  69px; background-position: 0px -240px; }
div#mainmenu .about a        { width: 139px; background-position: 0px -300px; }

/* Mainmenu end */

/* Greyfield start */

div#greyfield {
	background-color:#303030;
	height:100px;
	margin:0 0 27px 0;
	padding:10px 0;
	width:100%;
}

div#greyfield_content {
	margin:0 auto;
	width:1000px;
}

div#submenu {
	color:#ffffff;
	float:left;
	margin:20px 0 0 20px;
	width:350px;
}

div#submenu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.4em;
}

div#submenu span {
	font-weight: bold;
	color: #EBFFFF;
}

div#submenu a {
    line-height:1.6em;
	color: #EBFFFF;
}

div#submenu a:hover {
	color:#fff;
}

div#submenu ul {
	padding: 0; margin:0;
}
div#submenu li {
	list-style-type: none;
	list-style-position: inside;
}

div#submenu hr {
	color:#333;
	margin:10px 0;
	border: 0;
	background-color: #818989;
	height: 1px;
}

/* Greyfield end */

/* Content start */

div#content {
	margin:0 auto;
	width:1005px;
	padding-top: 4px;
}

div#news {
	float:left;
	margin:0 30px 0 0;
	width:613px;
}

div#content h1 {
	margin: 0;
	padding-bottom: 14px;
}

div#news .newsframe {
	border:1px solid #cccccc;
	border-left:0;
	border-right:0;
	border-top:0;
	padding: 3px 0.8em 0 0.8em;
	color:#333333;
    clear: both;
}

div#news .newsframe h2 {
	width:550px;
}

div#news .newsframe div img {
	padding-right: 5px;
	padding-bottom: 5px;
}

div#news .newsframe.partners * { margin:0; padding:0; }

.accent {
	background-color:#ebffff;

	color:#333333;
	padding:3px 0;
}

div#news .expand_newsframe {
	float:right;
	margin:20px 15px 0 0;
}

div#blog {
	float:left;
	width:350px;
}

div#blog h2 {
	font-size: 2em;
	position: relative;
	padding-bottom: 14px;
	margin: 0;
	border-bottom: 2px solid #414141;
}

div#blog h2 .follow {
	position: absolute;
	bottom: 7px;
	right: 0;
}

div#footer {
	margin:0 auto;
	width:1005px;
    padding-top: 40px; 
}

/* Content end */


/* Class */

.timestamp {
	font-size:0.7em;
}

.italic {
	font-style:italic;
	font-weight:bold;
}

p.small { clear:both; font-size: 10px; font-color: #ddd;}

#greyfield_text{
    font-size: 30px;

}
#greyfield_text2{
    font-size: 40px;
    color: #EEEEEE;
}

#navigator{
    padding-top: 20px;
}

#eventform{
    padding-top: 20px;
}

.eventlistrow {
    padding-bottom: 5px;
}

.eventlistrow:hover{
    background-color: #EBFFFF;

}
